.title{
    color: rgb(255,255,255);
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px; 
    
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 30px;
    border-bottom-style: dashed;
    
}

.why{
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: rgb(255,255,255);
    margin-left: 5%;
    border-right-style: dashed;
    float: left;
    
}



.idea{
   width: 30%;
    height: 100%;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: rgb(255,255,255);
    margin-left: 5px;
    border-right-style: dashed;
    float: left;
}



.change{
    width: 30%;
    height: 100%;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 20px;
    color: rgb(255,255,255);
    margin-left: 5px;
    float: left;
     
}

.back{
     width: 30%;
    height: 100%;
    text-align: left;
    font-family: "Helvetica Neue";
    font-size: 30px;
    color: rgb(255,255,255);
    margin-left: 5px;
    float: left;
}

.ideatwo{
    font-size:20px; 
    color: rgb(255,255,255);
    font-family: "Helvetica Neue";
   
    
    
}

.ouridea{
    font-size:30px; 
    color: rgb(255,255,255);
    font-family: "Helvetica Neue"
}


.click{
    color: white;
    font-family: "Helvetica Neue"
}

.choose{
    color:white;
     font-family: "Helvetica Neue"
}

.norwegian{
     color:white;
     font-family: "Helvetica Neue"
}

.english{
     color:white;
     font-family: "Helvetica Neue"
}
